
PUBMED_BASE_URL="https://eutils.ncbi.nlm.nih.gov/entrez/eutils/"
REQUEST_DELAY=0.35
RETMAX=5
ARTICLES_OUTPUT_PATH="src/data/articles.json"


DEFAULT_RETRIEVAL_METHOD="hybrid"
RETRIEVAL_METHOD="hybrid"

EMBEDDING_MODEL="intfloat/multilingual-e5-small"

LLM_BASE_URL=""
LLM_API_KEY="Enter your API key"

RAG_MODEL = "llama-3.1-8b-instant"
